= form.text_field :name
= form.email_field :email
= form.text_field :phone_number
= form.text_area :allergies
= form.text_area :medical_notes

= form.form_actions do
  = form.submit class: "btn btn-primary"
  = link_to 'Cancel', admin_patients_path, class: "btn btn-link"
